.content-wrapper {
   height: 100%;
   width: 100%;
   border: 3px solid red;
   padding: 5rem;
   border-radius: 10px;
}

.done-true {
   text-decoration: line-through;
}

.button-wrapper {
   display: flex;
   justify-content: center;
   margin-top: 3rem;
   margin-bottom: 2rem;
}

.button-style {
   border-radius: 5px;
   border: 2px solid red;
   width: 10rem;
   height: 4rem;
   font-size: 2rem;
   background-color: white;
}

.icon-wrapper {
   display: flex;
   gap: 3rem;
}

.list-wrapper {
   align-items: center;
   display: flex;
   justify-content: space-between;
   margin-bottom: 3.5rem;
   padding: 1rem;
   border: 1px red solid;
   border-radius: 5px;
}

.list-wrapper-outter {
   min-height: 35rem;
   max-height: 60rem;
   overflow-y: auto;
}
